@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #09090b;

  --card: #ffffff;
  --card-foreground: #09090b;

  --popover: #ffffff;
  --popover-foreground: #09090b;

  --primary: #0284c5;
  --primary-foreground: #f8fafc;

  --secondary: #f1f5f9;
  --secondary-foreground: #0f172a;

  --muted: #f1f5f9;
  --muted-foreground: #64748b;

  --accent: #f1f5f9;
  --accent-foreground: #0f172a;

  --destructive: #ef4444;
  --destructive-foreground: #f8fafc;

  --border: #e2e8f0;
  --input: #e2e8f0;
  --ring: #94a3b8;
  --sidebar-background: #f8fafc;
  --sidebar-foreground: #0f172a;
  --sidebar-primary: #0f172a;
  --sidebar-primary-foreground: #f8fafc;
  --sidebar-accent: #f1f5f9;
  --sidebar-accent-foreground: #0f172a;
  --sidebar-border: #e2e8f0;
  --sidebar-ring: #94a3b8;
  --radius: 0.5rem;
}

.dark {
  --background: #030711;
  --foreground: #f9fafb;

  --card: #030711;
  --card-foreground: #f9fafb;

  --popover: #030711;
  --popover-foreground: #f9fafb;

  --primary: #0284c5;
  --primary-foreground: #030711;

  --secondary: #11161d;
  --secondary-foreground: #f9fafb;

  --muted: #11161d;
  --muted-foreground: #94a3b8;

  --accent: #11161d;
  --accent-foreground: #f9fafb;

  --destructive: #210808;
  --destructive-foreground: #f9fafb;

  --border: #11161d;
  --input: #11161d;
  --ring: #3e4247;
  --sidebar-background: #161618;
  --sidebar-foreground: #141415;
  --sidebar-primary: #c0c1c4;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #111112;
  --sidebar-accent-foreground: #141415;
  --sidebar-border: #111112;
  --sidebar-ring: #e8e8e9;
}

.background {
  background-color: var(--background);
}
.text-primary {
  color: var(--primary);
}
.foreground {
  color: var(--foreground);
}
.muted {
  color: var(--muted);
}
.ring {
  color: var(--ring);
}

@layer base {
  body {
    font-family:
      "Inter",
      system-ui,
      -apple-system,
      sans-serif;
  }

  html {
    scroll-behavior: smooth;
  }
}
